Django==3.0.5
djangorestframework==3.11.0
django-extensions
django-crispy-forms
django-login-required-middleware
django-extensions
django-celery-beat

environs
mysqlclient==1.4.6
sshpubkeys
redis
inotify
pyyaml

celery
