{% block 'navigation-header' %}
<!--
<ul class="c-header-nav d-md-down-none">
  <li class="c-header-nav-item px-3"><a class="c-header-nav-link" href="#">Dashboard</a></li>
  <li class="c-header-nav-item px-3"><a class="c-header-nav-link" href="#">Users</a></li>
  <li class="c-header-nav-item px-3"><a class="c-header-nav-link" href="#">Settings</a></li>
</ul>
-->
<ul class="c-header-nav ml-auto mr-4">
  <li class="c-header-nav-item dropdown"><a class="c-header-nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      <div class="c-avatar">{{request.user}}</div>
    </a>
    <div class="dropdown-menu dropdown-menu-right pt-0">
        <a href="{% url 'logout' %}" class="dropdown-item" href="#">
        <svg class="c-icon mr-2">
          <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-account-logout"></use>
        </svg> Logout</a>
    </div>
  </li>
</ul>
{% endblock %}
