{% extends 'base.html' %}

{% block 'breadcrumb' %}
{{ block.super }}
<li class="breadcrumb-item active">SSH Keys</li>
{% endblock %}

{% block 'content' %}
<div class="row">
  <div class="col-sm-12 mb-3">
    <h1>SSH Keys</h1>
  </div>
</div>
<div class="fade-in row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-6">
          </div>
          <div class="col-sm-6 text-right">
            <button class="btn btn-primary btn-sm" data-url="{% url 'key-create' %}" data-toggle="modal" data-target="#modal"><svg class="c-icon">
              <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-plus"></use>
            </svg> Add Key</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-responsive-sm">
          <thead>
            <th>Name</th>
            <th>Type</th>
            <th>Fingerprint</th>
            <th>Created</th>
            <th style="width: 200px">Actions</th>
          </thead>
          <tbody>
            {% for object in object_list %}
            <tr>
            <td>
              {{object.name}}
            </td>
            <td></td>
            <td></td>
            <td>{{object.created}}</td>
            <td><button class="btn btn-secondary btn-sm" data-url="{% url 'key-update' object.id %}" data-toggle="modal" data-target="#modal" data-toggle="tooltip" data-placement="top" data-original-title="Edit"><svg class="c-icon">
              <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-pencil"></use>
            </svg></button>
            <button class="btn btn-secondary btn-sm" data-url="{% url 'key-delete' object.id %}" data-toggle="modal" data-target="#modal" data-toggle="tooltip" data-placement="top" data-original-title="Delete"><svg class="c-icon">
              <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-trash"></use>
            </svg></button>
          </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
