{% extends 'base.html' %}
{% load helpers %}

{% block 'breadcrumb' %}
{{ block.super }}
<li class="breadcrumb-item">Repositories</li>
<li class="breadcrumb-item active">Repository: {{object.name}}</li>
{% endblock %}

{% block 'content' %}
<div class="row">
  <div class="col-sm-10 mb-3">
    <h1>Repository: {{object.name}}</h1>
  </div>
  <div class="col-sm-2 text-right">

  </div>
</div>

<div class="fade-in row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-2">
            <div class="c-callout c-callout-secondary mt-0 mb-0 b-t-1 b-r-1 b-b-1">
              <small class="text-muted">Current Usage</small><br>
              <strong class="h4">{{object.get_last_repository_statistic.repo_size|humanmegabytes}}</strong>
            </div>
          </div><!--/.col-->
          <div class="col-sm-3">
            <div class="c-callout c-callout-secondary mt-0 mb-0 b-t-1 b-r-1 b-b-1">
              <small class="text-muted">Last Access</small><br>
              <strong class="h4">{{object.get_last_repository_statistic.last_access}}</strong>
            </div>
          </div><!--/.col-->
          <div class="col-sm-3">
            <div class="c-callout c-callout-secondary mt-0 mb-0 b-t-1 b-r-1 b-b-1">
              <small class="text-muted">Last Modified</small><br>
              <strong class="h4">{{object.get_last_repository_statistic.last_update}}</strong>
            </div>
          </div><!--/.col-->
          <div class="col-sm-4 text-right">
            <form method=post>
            {% csrf_token %}
            <button type="submit" name="refresh" class="btn btn-primary btn-sm"><svg class="c-icon">
              <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-reload"></use>
            </svg> Refresh</button>
            <button type="button" class="btn btn-danger btn-sm" data-url="{% url 'repository-delete' object.id %}" data-toggle="modal" data-target="#modal"  data-toggle="tooltip" data-placement="top" data-original-title="Delete"><svg class="c-icon">
              <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-trash"></use>
            </svg></button>
        </form>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12" style="font-size: 1.1em">
            <p>Initialize the repository:</p>

            <p><code>
$ borg init --encryption=repokey-blake2 {{object.repo_user.name}}@{{request.get_host}}:{{object.name}}
            </code></p>

            <p>SSH-Host fingerprints to validate:</p>

            <p><code>
            {% for key_type, fingerprint in key_info.items %}
              {{key_type | upper}}: {{fingerprint}}<br>
            {% endfor %}
            </code></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fade-in row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h4><a data-toggle="collapse" href="#statistic" role="button" aria-expanded="false" aria-controls="statistic">Statistic</a></h4>
      </div>
      <div id="statistic" class="card-body collapse">
        <div class="row">
          <div class="col-md-12" style="height: 500px;">
            <canvas id="canvas-repository-usage"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fade-in row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h4><a data-toggle="collapse" href="#events" role="button" aria-expanded="false" aria-controls="events">
Events</a></h4>
      </div>
      <div id="events" class="card-body collapse">
          <table class="table table-responsive-sm">
            <thead>
              <th>Timestamp</th>
              <th>Event Type</th>
              <th>Message</th>
            </thead>
            <tbody>
              {% for event in object.repositoryevent_set.all %}
              <tr>
                <td>{{event.created}}</td>
                <td>{{event.event_type}}</td>
                <td>{{event.message}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block 'script' %}
<script src="/static/vendors/momentjs/moment.min.js"></script>
<script src="/static/vendors/@coreui/chartjs/js/coreui-chartjs.bundle.js"></script>

<script>
function fileSize(mb) {
  var thresh = 1024;
  if (Math.abs(mb) < thresh) {
    return mb + ' MB';
  }
  var units = ['GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
  var u = -1;
  do {
    mb /= thresh;
    ++u;
  } while (Math.abs(mb) >= thresh && u < units.length - 1);
  return mb.toFixed(1) + ' ' + units[u];
}

var repoUsageLineChart = new Chart(document.getElementById('canvas-repository-usage').getContext('2d'), {
  type: 'line',
  data: {
    datasets: [{
      data: {{ chart_repo_usage_data|safe }},
      label: 'Repo Size'
    }],
    labels: {{ chart_repo_usage_labels|safe }}
  },
  options: {
    responsive: true,
    maintainAspectRatio: false,
    scales: {
      xAxes: [{
        type: 'time',
        time: {
          unit: 'month',
          tooltipFormat:'MM/DD/YYYY'
        }
      }],
      yAxes: [{
        ticks: {
          callback: function(v, i, vs) {
            return fileSize(v);
          }
        }
      }]
    },
    tooltips: {
      callbacks: {
          label: function(tooltipItem, data) {
            return fileSize(data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index]);
          }
      }
    }
  }
});
</script>
{% endblock %}

{% block 'css' %}
<link href="/static/vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">
{% endblock %}
