{% load crispy_forms_tags %}
<form method="post" action="{% url 'repository-delete' object.id %}">
  {% csrf_token %}
  <div class="modal-header">
   <h4 class="modal-title">Delete Repository</h4>
   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  </div>
  <div id="form-modal-body" class="modal-body">
     Do you really want to delete the repository: <strong>{{object.name}}</strong> ?<br><br>
     <p><strong>This action deletes your data!</strong></p>
  </div>
  <div class="modal-footer">
   <button type="submit" class="btn btn-danger btn-sm">Yes, delete my data</button>
  </div>
</form>
